header.navbar.nabar-expand.dark.flexcolumn.flex-md-row
  a.navbar-brand.mr-0.mr-md-2(href='/') 豆瓣电影
  .navbar-nav-scroll
      ul.navubar-nav.bd-navbar-nav.flex-rw
        li.nav-item
         a.nav-link.active(href='/link1') 文档